<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mail-Whatsapp Alert</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float" rel="stylesheet">

</head>

<body>
  <div class="container p-4 pt-4">

    <!-- Front Page Heading-->
    <div class="row p-2 heading">
      <h3 class="heading-name font-effect-shadow-multiple ">Mail Alert On WhatsApp Project</h3>
    </div>

    <!-- Send Message from your Whatsapp Number to activate the Sandbox-->
    <div class=" container p-4 join-mssg">
      To join the service Send a Whatsapp Message to <b>+1 415 523 8886 </b> with code <b>join ocean-invented</b>.
    </div>

    <!-- Take input from user  #Phone number #Email-id #password  -->
    <div class="container jumbotron">
      <div class="form ">
        <form class="form-horizontal" action="/" method="POST" >

          <div class="form-group form-inline">
            <label class="control-label col-md-2 form_heading" for="email">Email:</label>
            <div class="col-md-2">
              <input type="email" class="form-control form_inp" id="email" placeholder="Enter email" name="email">
            </div>

            <label class="control-label col-md-2 form_heading" id="password" for="password">Password:</label>
            <div class="col-md-2" style="padding-left: 100px;">
              <input type="password" class="form-control form_inp" id="pswd" placeholder="Enter Password" name="password">
            </div>
          </div>

          <div class="form-group" style="margin-top: 30px;">
            <label class="control-label col-md-6 form_heading" id="phone" for="phone">WhatsApp Mobile Number:</label>
            <div class="col">
              <input type="tel" class="form-control form_inp" id="phone" placeholder="Enter WhatsApp Number"
                name="phone">
            </div>
          </div>

          <div class=" form-group center">
            <button  type="submit" class="btn btn-lg-primary button">Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <script src="/public/js/frontpage.js" type="text/javascript"> </script>

</body>

</html>